<div class="page">
    <mat-toolbar color="primary">
        <button (click)="onToggle()" mat-icon-button class="example-icon"
            aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
        <a routerLink="/">Aplikcja do zarządzania budżetem domowym</a>
    </mat-toolbar>

    <mat-sidenav-container class="container">
        <mat-sidenav *ngIf="showSidenav" mode="side" opened class="sidenav">
            <mat-nav-list>
                <a mat-list-item class="button" routerLink="/dashboard">Wydatki i wpływy</a>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content class="content">
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
